@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body{
   background: #000000;
   color: #ffffff;
   font-family: 'Righteous',cursive;
   margin: auto;
   overflow: visible;
   font-stretch: expanded;
   text-overflow: ellipsis;
 }

  header h1{
    font-family:'Righteous',cursive;
    color: #ffffff;
    margin:0px;
    padding: 20px 10px;
    animation: mymove 5s infinite;
    text-shadow:2px 2px 3px #ff0404;
    text-align: center;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:4rem;
}

h3{
  color: #ed6963;
  font-family:'Righteous',cursive;
  animation: mymove 5s infinite;
  text-shadow:2px 2px 3px white;
}

#main-header{
  position: absolute;
  top: 0;
  width: 100%;
  margin-bottom: 10px;
  background-image: url("33626.jpg");
  background-color: #000000;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 200px;
}

@keyframes mymove {
  50% {text-shadow: 30px 20px 30px #eaceca;}
}

#games{
  width: 60%;
  margin: auto;
}

div{
  display: inline-block;
  margin-top: 10px 0px 10px 0px;
}


.article-image{
  height: 600px;
  width: 100%;
  border-radius:22px;
  background-size: cover !important;
  background-position: center !important;
  box-shadow: 9px 8px 10px ;
  margin-bottom:2%;
  margin-top: 2%;
  transition: box-shadow 5ms;
  transition-timing-function: ease-in-out;
  background-repeat: no-repeat,repeat;

}
a:link{
  text-decoration-line: none;
  color:#ed6963;
}
a:visited{
  color:#ed6963;
}

a:hover{
  color:#f88712;
}
a:active{
  color:#ed6963
}

.row2{
  margin: 20px 0px 20px 0px;
}

 hr.line{
   border-top: 2px solid #fff;
   width: 15%;
   margin-bottom: 6%;
 }
.article-image:hover{
  box-shadow: 5px 9px 10px #e84e4e;
  transform: scale(1.1,1.1);
}

.article-image::after {
  opacity: 1;
}

footer{
  padding: 2% 0 5% 0;
  color: #fff;
  text-align: center;
  background-color: #000000;
}

footer > p{
  margin: 40px 0px 20px 0px;
  color: #7c6c6b;
  font-size: .8rem;
}

footer>a{
  color:white;
}

p.about{
    padding: 15px;
    font-size: 1.3rem;
    display:inline-block;
    color: white;
    border:none;
    margin: 0;
}

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.social-btns .btn.twitter:before {
  background-color: #33CCFF;
}
.social-btns .btn.twitter .fa {
  color: #33CCFF;
}

.social-btns .btn.instagram:before {
  background-color: #FE0883;
}
.social-btns .btn.instagram .fa {
  color: #FE0883;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.social-btns {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
}
.social-btns .btn {
  display: inline-block;
  background-color: #000;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}
.social-btns .btn:before {
  content: "hello";
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.social-btns .btn .fa {
  font-size: 38px;
  vertical-align: middle;
}
